nvim/plugin/packer_compiled.lua

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# church song converter unnecessary files
churchsongconverter/*.docx
churchsongconverter/*.csv
churchsongconverter/*.pdf
churchsongconverter/stagingGround/*.md
churchsongconverter/html/*.html
churchsongconverter/html/*.md
churchsongconverter/html/*.txt

!churchsongconverter/html/styles.html
