/* based on https://github.com/rubyowo/dotfiles/blob/123af0706e540911da2764cb6555ad2b2dea7591/users/rei/confs/waybar/style.css */

@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: @base;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin-top: 1rem;
  margin: 7px 3px 0px 7px;
}

#workspaces button {
  color: @pink;
  border-radius: 1rem;
  padding-left: 6px;
  margin: 5px 0;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  background-color: transparent;
}

#workspaces button.active {
  color: @flamingo;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @rosewater;
  border-radius: 1rem;
}

#workspaces button.focused {
    background-color: @surface2;
}

#disk,
#mode,
#cpu,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#memory,
#network,
#power {
  background-color: @surface0;
  margin: 7px 0px 0px 5px;
  padding: 10px 5px;
  border-radius: 1rem;
}

#clock, #memory {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network, #cpu {
    color: @flamingo;
}

#backlight {
  color: @yellow;
}

#pulseaudio, #disk {
  color: @pink;
}

#pulseaudio.muted {
    color: @red;
}

#power {
    border-radius: 1rem;
    color: @red;
    margin-bottom: 1rem;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}